<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles/mininginfo/mininginfo.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Mining Info</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type = "text/javascript">
    		function update(){
    			$.get("http://192.168.0.16:17790/api/miners", function(res){
					var grouplist = res.groupList;
					var html_str = "<table><thead><tr><th>Miners</th><th>Status</th><th>Progress</th><th>Speed</th><th>Coin</th></tr></thead><tbody>";
					for(var j = 0; j < grouplist.length; j++){
						var minerlist = grouplist[j].minerList;
							for(var i = 0; i < minerlist.length; i++){
								html_str += "<tr>"
								html_str += "<td>" + minerlist[i].name + "</br>;
								html_str += minerlist[i].pool + "</td>";
								html_str += "<td>" + minerlist[i].statusInfo.statusDisplay + "</br>";
								html_str += minerlist[i].statusInfo.statusLine3 + "</td>";
								html_str += "<td>" + minerlist[i].progressInfo.line1 + "</br>";
								html_str += minerlist[i].progressInfo.line2 + "</br>";
								html_str += minerlist[i].progressInfo.line3 + "</td>";
								html_str += "<td>" + minerlist[i].speedInfo.logInterval + "s: " + minerlist[i].speedInfo.hashrate + "</td>";
								html_str += "<td>" + minerlist[i].coinInfo.displayName + "</br>";
								html_str += minerlist[i].coinInfo.revenuePerDay + "</br>";
								html_str += minerlist[i].coinInfo.revenuePerMonth + "</td></tr>";
							}
					}
					html_str += "</tbody></table>";
					$("#information").html(html_str);
				}, "json");
    		}
			$(document).ready(function() {
				update();
				setInterval(function(){
					update();
				}, 5000);
			});
	</script>
  </head>

  <body>
	<div class = "header">
		<a href = "{% url 'mining:logout' %}">Logout</a>
	</div>
	<div id="information">
		<table>
			<thead>
				<tr>
					<th>Miners</th>
					<th>Status</th>
					<th>Progress</th>
					<th>Speed</th>
					<th>Coin</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div id = "errors">
	</div>
  </body>
</html>